<!-- templates/homepage/about_us.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="about-us-container">
        <h1 class="page-title">About Us</h1>
        
        <div class="about-section">
            <p>We are a dedicated team of innovators and problem solvers, passionate about transforming transportation for a better future. Our mission is to provide a seamless and reliable platform that connects passengers with drivers, creating efficient and enjoyable journeys for everyone. With a strong commitment to safety, convenience, and quality, we aim to redefine the way people travel, offering a convenient and sustainable solution for modern transportation needs.</p>
        </div>
    </div>
</body>
</html>
